{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Change-profile {% endblock %}
{% block body_block %}
<style>
.button {
  background-color: #a8a8a8;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:5px;
  cursor: pointer;
}
</style>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h1>Update Profile Info:</h1>
  <hr>
  <div class="">


    {% if user.user_profile %}
    <img src="/media/{{user.user_profile.profile_pic}}" alt="Profile Image  is None" class="shadow-sm p-3 mb-5 bg-white rounded" width='150px'>
    <br>
    <a href="{% url 'App_Login:change_pro_pic' %}" class="button" style="text-decoration: none; color:white">change profile picture</a>
    <br>

    {% else %}
    <img src="/media/profile_pic.png" alt="Profile Image  is None" class="shadow-sm p-3 mb-5 bg-white rounded"  width='150px'>
    <br>
    <a href="{% url 'App_Login:update_pro_pic' %}" class="button" style="text-decoration: none">Add Image</a>
    <br>
    <br>
    {% endif %}

  </div>
  <hr>
  <div class="">
    {% if flag %}
    <div class="alert alert-success">
      <h3>Profile Info Change successfully !</h3>

    </div>
    {% endif %}

    <form enctype="multipart/form-data" method="POST">
      {{form|crispy}}
      {% if user.user_profile %}
      {{profile_pic_form|crispy}}
      {% endif %}
      {% csrf_token %}
      <input type="submit" name="submit" value="Update" class="btn btn-info">

    </form>
    <hr>
    <a href="{% url 'App_Login:change_password' %}" class="btn btn-info">Change password</a>
    &nbsp &nbsp &nbsp
    <a href="{% url 'App_Login:profile' %}" class="btn btn-info">Back To Profile</a>

  </div>

</div>


{% endblock %}
