{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Update-profile-pic {% endblock %}
{% block body_block %}
<style>
  button {
    background-color: #a8a8a8;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 4px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <div class="">


    {% if user.user_profile %}
    <img src="/media/{{user.user_profile.profile_pic}}" alt="Profile Image  is None" class="shadow-sm p-3 mb-5 bg-white rounded" width='150px'>
    {% else %}
    <img src="/media/profile_pic.png" alt="Profile Image  is None" class="shadow-sm p-3 mb-5 bg-white rounded"  width='150px'>
    {% endif %}

  </div>
  <hr>
  <form enctype="multipart/form-data"  method="POST">
    {{profile_pic_form|crispy}}
    {% csrf_token %}
    <button type="submit">Add</button>
    &nbsp &nbsp
    <button><a href="{% url 'App_Login:change_profile' %}" style="text-decoration: none; color:white">back</a></button>

  </form>
  


</div>



{% endblock %}
